body, .container{
    height: 98vh;
    overflow: hidden;
}

/* navegador */
#navegadorCliente{
    /* border: 1px solid black; */
    height: 8%;
    margin: 10px;
    border-radius: 15px;
    background-color: gainsboro;
    box-sizing: border-box;
    width: 95%;
    margin-top: 5%;
}

#nav{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

#botonBar{
    border: 0px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 30px;
}

#carrito{
    font-size: 30px;
    margin-top: 15px;
}

.barra{
    display: flex;
}

.all-text-bar{
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    /* margin: 30px 0 30px 10px; */
    /* padding-top: 60px; */
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-top: 25px;
    position: absolute;
    z-index: 2;
}

.all-text-bar p{
    color: white;
}

.bar-text:hover{
    cursor: pointer;
}

/* fondo de figuras */
.figuras-fondo{
    height: 100px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

#fig1{
    height: 200px;
    left: 50%;
    top: 80%;
}

#fig2{
    height: 150px;
    left: 2%;
    top: 68%
}

#fig3{
    height: 120px;
    top: -1%;
    left: -2%;
}

#fig4{
    height: 120px;
    left: 66%;
    top: 19%;
}





/* css login */

#loginCliente{
    /* border: 1px solid blue; */
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iniciarSesion{
    position: absolute;
    top: 16%;
    left: 10%;
    font-size: 33px;
    font-weight: 400;
}

#carita{
    margin-top: -120px;
    margin-left: 36%;
    font-size: 90px;
}

#login-registrarse{
    /* border: 1px solid blue; */
    width: 42%;
    margin-left: 52%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10%;
}

.login-inputs{
    width: 93%;
    border-radius: 18px;
    margin: 10px;
    margin-top: 15px;
    padding: 3%;
    font-weight: bold;
    color: rgb(158, 157, 157);
    font-size: 15px;
    border: 2px solid rgb(139, 139, 139);
}

#boton-iniciar{
    margin: 10px;
    border-radius: 18px;
    padding: 2.5%;
    width: 30%;
    font-weight: bold;
    background-color: #edb6a2;
    border: 0;
}

#login-box{
    border: 2px solid rgb(121, 121, 121);
    width: 85%;
    border-radius: 20px;
    height: 50%;
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
}




