@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

#loginMotorista{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 192px 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 8px 8px rgba(230, 121, 91, 0.493);
    height: 438px;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, #2dc2ac 0%, #edb6a2 100%) 1;
    height: 60%;
}
#logo2{
    width: 70%;
}
.input-log{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #209180;
    margin: 5px;
    padding: 5px;
    width: 80%;
}
::placeholder{
    color: rgba(255, 255, 255, 0.731);
}
#links{
    margin: 5px;
    text-decoration: underline;
    font-size: small;
    color: blue;
}
#btnlogin{
    margin: 10px;
    color: white;
    background-color: #009694;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    width: 90%;
}
#btnlogin,#links:hover{
    cursor: pointer;
}

#registro{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin: 270px 50px 0;
    border-radius: 20px;
    background-color: white;
    box-shadow: 8px 8px rgba(230, 121, 91, 0.493);
    height: 400px;
    padding-top: 213px;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, #2dc2ac 0%, #edb6a2 100%) 1;
}

.iniciar{
    position: absolute;
    top: 16%;
    left: 10%;
    font-size: 33px;
    font-weight: 400;
}

.input-registro{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #209180;
    margin: 5px;
    padding: 5px;
}


/* categorias motorista */

#categoriasMotorista{
    display: none;
}

.descripcion{
    font-size: 32px;
    font-weight: bold;
    top: 15%;
    left: 70px;
    font-family: 'Parisienne', cursive;
}

.pedidos{
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    height: 80%;
}

.button-tomar-pedido{
    padding: 10px;
    border-radius: 10px;
    background-color: #209180;
    color: white;
    font-weight: bolder;
    border: 0;
    margin-left: 10px;
}

.fin{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-top: 2%;
}

.descripcion-empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tamaño-pedidos{
    display: flex;
	flex-direction: column;
	align-items: center;
    width: 80%;
    height: auto;
    padding: 15px;
    margin: 10px;
    background-color: white;
    border: 2px solid #edb6a2;
}

/* Pedidos disponibles */
#pedidos-disponibles{
    display: none;
    /* padding-top: 30%; */
    height: 100%;
}

#pedidos-pend{
    display: none;
}

.pedidos{
    display: flex;
    flex-direction: column;
    height: 76%;
    top: 22%;
    width: 100%;
    margin-left: 8px;
    position: absolute;
    overflow: scroll !important;
} 

/* Pedidos pendientes */
#pedidos-pendientes{
    display: none;
}

/* Pedidos entregados */
#pedidos-entregados{
    display: none;
}

@media screen and (min-width:1000px) {
    #loginMotorista{
        width: 40%;
        height: 40%;
        margin-top: 8%;
        margin-left: 32%;
    }

    #logo2{
        height: 200px;
        width: 250px;
    }

    .iniciar{
        font-family: 'Parisienne', cursive;
        font-size: 45px;
    }

    #registro{
        width: 630px;
        margin: 121px 429px 0;
    }

    .input-registro{
        width: 76%;
        
    }

    #btnlogin{
        width: auto;
    }

    .tamaño-pedidos{
        width: 44%;
        height: 60%;
    }

    #logo-descripcion{
        margin-top: -3.5%;
    }

    .pedidos{
        height: 70%;
        margin-top: 2%;
        margin-left: 4%;
    }

    .descripcion{
        padding-top: 50px;
    }

}



